.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px 20px;
    margin-top: auto;
}

.footer .a {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 500px) {

.footer {
    position:static;
}

.footer .a {
    flex-direction: column;
}
 
}